body{
    height:100vh;
    margin:0;
    display:flex;
    align-items:center;
    justify-content:center;
    flex-direction:row;
   background:url("pict.png");
    user-select: none; 
    overflow:hidden;
     
}
@keyframes spin{
    from{
        rotate:0deg;
    }to{
        rotate:360deg;
    }
}
#cat{
    animation: spin 8s infinite linear;
}
#cat:hover{
    background:transparent;
}
.no-copy {
    user-select: none;
  }
#wynik{
    width:50%;
    height:5vh;
    font-size:32.5px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:white;
    background:rgb(138, 138, 138);
    display:flex;
    align-items:center;
    justify-content:center;

}
.buy img {
    height: 100%;
    width: 50%;
    
        object-fit: contain;
    }
  
  
button{
    background:none;
    border:none;
}
button:hover{
    background:rgb(230,230,230);
}
.container,.click,.buy{
    width:33%;
    height:100vh;
}
.click{
    display:flex;
    align-items:center;
    justify-content:center;
    flex-direction:column;
    gap:50px;
}
.buy{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    flex:2;
    gap:1vh;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size:25px;
    

}
#LCC{
    display: flex;
        flex-direction: column;
        align-items:center;
        justify-content:center;
        text-align:center;
        height: 100%;
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size:25px;
    padding:1vh;
}
.achievement{
    background:rgb(102, 102, 138);
    border-radius:20px;
    height:3vh;
    width:10vw;
}
#LC,#kitten,#NC{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size:25px;
    display:flex;
    flex-direction:row;
    text-align:center;
    justify-content:center;
    align-items:center;
    font-size:30px;
width:33vw;
height:12.5vh;
}
#LC:hover,#kitten:hover,#NC:hover{
    background:rgba(0,0,0,0.1)
}